@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'bNazanin';
  src: url('/public/Fonts/bNazanin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
